#!/bin/sh

OS_DEPENDENCIES="zsh libssl-dev zlib1g-dev libbz2-dev libreadline-dev libsqlite3-dev wget curl llvm libncurses5-dev libncursesw5-dev xz-utils tk-dev libffi-dev liblzma-dev python-openssl git python3-dev sqlite3 libsqlite3-dev pulseaudio-utils xbacklight build-essential"

{{ if (and (eq .chezmoi.os "linux") (ge .chezmoi.osRelease.versionID "18.04")) }}
OS_DEPENDENCIES="${OS_DEPENDENCIES} ripgrep fzf i3lock-fancy flameshot"
{{ end }}

SUDO=""
if type sudo
then
    SUDO="sudo"
fi

# sudo isn't necessary available in a docker image build
$SUDO apt install -y $OS_DEPENDENCIES
