#!/bin/sh

OS_DEPENDENCIES="htop zsh wget curl llvm sqlite3"
SUDO=""

{{ if (eq .chezmoi.os "linux") }}
INSTALLER="apt install -y"

if type sudo
then
    SUDO="sudo"
fi

OS_DEPENDENCIES="${OS_DEPENDENCIES} \
blueman \
glibc-tools \
libcairo2 \
libcairo2-dev \
libgcc-12-dev \
libgdk-pixbuf-2.0-dev \
libgio3.0-cil \
libgio3.0-cil-dev \
libglib2.0-0 \
libglib2.0-dev \
libgtk2.0-dev \
libgtk-3-dev \
libpango1.0-dev  \
libpq-dev \
i3 jq libssl-dev zlib1g-dev libbz2-dev libegl1-mesa-dev libfreetype6-dev libfontconfig1-dev libgdk-pixbuf2.0-0 libreadline-dev libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libsqlite3-dev libncurses5-dev libncursesw5-dev xz-utils tk-dev libffi-dev liblzma-dev sqlite3 libsqlite3-dev pulseaudio-utils xbacklight build-essential xz-utils git tmux"


{{    if (ge .chezmoi.osRelease.versionID "18.04") }}
OS_DEPENDENCIES="${OS_DEPENDENCIES} ripgrep rofi fzf i3 i3lock-fancy flameshot pavucontrol"
{{    end }}

{{ else if (eq .chezmoi.os "darwin") }}
INSTALLER="brew install"
{{ end }}

# sudo isn't necessary available in a docker image build
$SUDO $INSTALLER $OS_DEPENDENCIES
